<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<div class="courses" #container>
  <!-- <course-card (click)="onCourseSelected()" [data]="coreCourse"></course-card> Each course-card component has its own data scope -- [data] input olarak verilen datadir -->
  <!-- <course-card (click)="onCourseSelected()" [data]="rxjsCourse"></course-card> -->
  <!-- <course-card (click)="onCourseSelected()" ></course-card> // @input required yapildigi icin burada gerekli inputu vermeden bu componenti kullanamam -->
  <!-- <course-card (courseSelected)="courseSelected($event)" [data]="ngrxCourse"></course-card>olusturdugum componenti istedigin kadar kullanabilirim -->
  <!-- <course-card (courseSelected)="courseSelected($event)" [data]="afbCourse"></course-card>COSTUMEVENT YAKALAYACAK courseSelected tanimlandi -->

  <div class="demo">Start Date : {{ startDate | date : "MMM/dd/yyyy" }}</div>
  <!-- pipe kullanimi ornegidir: date olarak gelen veriyi date formatında yazdirmamizi saglar. -->
  <div class="demo">string : {{ title | titlecase }}</div>
  <div class="demo">number : {{ number | number : "3.3-5" }}</div>
  <div class="demo">parcent : {{ rate | percent }}</div>
  <!-- <div class="demo">debbug : {{courses | json}}</div>debug faz icin kullanilabilecek muhtesem pipe elemani. ilgili degeri goruntulemek icin {{nesne | json}} kullanilir1!!  -->

  <!-- <course-card *ngFor="let course of courses | slice : 0:4 ; index as i; first as isFirst" [class.is-first]="isFirst" (courseSelected)="courseSelected($event)" [data]="course" [cardIndex]="i+1"></course-card> -->
  <!-- ---------- | slice : 0:3  ===> arrayin ilk 4 elemanini alacak sekilde parcaladik.s----------- -->


<course-card #cardRef1
    (courseSelected)="courseSelected($event)"
    [data]="courses[1]">
  </course-card>


  CourseCard'a referans numarasi vererek 
  <course-card #cardRef2 
    (courseSelected)="courseSelected($event)"
    [data]="courses[2]">
  </course-card>



  <!-- ngfor icindeki first as isFirst ve [class.is-first]="isFirst" ifadeleri olusturulan elementin ilk elemanina erisir ve bu elemanin clasini isFirst yapar ve etkili class css'ini ozelliklerini almasini saglar. -->
</div>
